{% extends "main/home.html" %}
{% load crispy_forms_tags %}
{% block constantcontent %}
    <style>
        html, body {
            max-width: 100%;
        }
        .outer {
            margin:auto;
            width: 50%;
            display: flex;
            border: thin solid #3a3f44;
        }
        @media all and (max-width: 499px) {
            .outer {
                margin:auto;
                width: 90%;
                display: flex;
                border: thin solid #3a3f44;
            }
        }
        .profileform{
            margin: 20px;
            width: 100%;
        }  
        .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
        }
        .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
        }
        .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
        }
        .autocomplete-items div:hover {
        /*when hovering an item:*/
        background-color: #e9e9e9;
        }
        .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
        }
    </style>
    <h1 style="text-align: center;">Create Profile</h1>
    <div class = "outer">
        <div class='profileform'>
            <form id="profileform" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    {{form | crispy}}
                <fieldset>
                    <label for="school" class="requiredField">School</label>
                    <input list="schools" class="form-control" required>
                </fieldset>
                <fieldset>
                <p style="color: red;">{{error_msg}}</p>
                <button name="submit" type="submit" id='formsubmit' class="btn btn-success">Create Profile</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class ='warningdiv' id ='warning_div'><p id="warning_text"></p></div>
    <datalist id="schools">
        {% for val in schools %}
        <option value="{{val}}">
        {% endfor %}
    </datalist>  
{% endblock %}