{% extends "main/home.html" %}
{% load crispy_forms_tags %}
{% load profile_functions %}
{% block constantcontent %}
<div class="jumbotron" style="width: 45%; margin: auto;">
    <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="school">School</label>
        <div>
            <input class="form-control form-control-lg" type="text" value="{{user.profile.school.name}}" id="school" style="width: 80%; float: left;" list="schools">
            <button type="button" class="btn btn-primary" style="margin-left: 1%; height: 47px;" onclick="updateField('school')">Update School</button>
        </div>
        <div class="alert alert-dismissible alert-danger" id="unkown_school" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh snap!</strong> There doesn't seem to be a school with that name, please try again.
        </div>
        <br>
        <label class="col-form-label col-form-label-lg" for="grade">Grade</label>
        <div>
            <select class="form-control col-form-label-lg" id="grade"  style="width: 80%; height: fit-content;" onchange="updateField('grade')">
                <option value="" selected disabled hidden>{{user.profile.grade | format_grade}}</option>
                <option value="9">Freshman (9)</option>
                <option value="10">Sophomore (10)</option>
                <option value="11">Junior (11)</option>
                <option value="12">Senior (12)</option>
            </select>
        </div>
        <br>
        <form id="profileform" action="/profile/update/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="col-form-label col-form-label-lg" for="picture">Profile Picture</label>
            <div>
                <input type="file" class="form-control-file" id="picture" name="picture" style="width: 80%; float: left;">
                <button name="submit" type="submit" id='formsubmit' class="btn btn-success">Upload Picture</button>
            </div>
        </form>
        <br>
        <label class="col-form-label col-form-label-lg" for="github">GitHub</label>
        <div>
            <input class="form-control form-control-lg" type="url" value="{{user.profile.github}}" id="github" style="width: 80%;" onchange="updateField('github')">
        </div>
        <br>
        <label class="col-form-label col-form-label-lg" for="teir">Teir</label>
        <div>
            <select class="form-control col-form-label-lg" id="teir"  style="width: 80%; height: fit-content;" onchange="updateField('teir')">
                <option value="" selected disabled hidden>Level {{user.profile.teir}}</option>
                <option value="0">Level 0</option>
                <option value="1">Level 1</option>
                <option value="2">Level 2</option>
                <option value="3">Level 3</option>
                <option value="4">Level 4</option>
            </select>
        </div>
        <br>
        <label class="col-form-label col-form-label-lg" for="bio">Bio</label>
        <textarea class="form-control" id="bio" rows="5" onchange="updateField('bio')">{{user.profile.bio}}</textarea>
    </div>
    <p class="lead">
    <button class="btn btn-secondary btn-lg" onclick="history.back()" role="button">Back</button>
    </p>
</div>
<datalist id="schools">
    {% for val in schools %}
    <option value="{{val}}">
    {% endfor %}
</datalist>
<script>
    function updateField(field){
        var get_data = {};
        get_data[field] = document.getElementById(field).value;
        get_data["csrfmiddlewaretoken"] = "{{csrf_token}}";
        $.ajax({
            type: "GET",
            url: "/profile/update/",
            data: get_data,
            success: function(data){
                location.reload();
            },
            error: function(data){
                if (data['responseText'] = "School not Found") {
                    if (field == "school") {
                        document.getElementById("unkown_school").style.display = "block";
                    }
                }
                console.log("failure");
                console.log(data);
            },
        });
    }
</script>
{% endblock %}