{% extends "main/home.html" %}
{% load crispy_forms_tags %}
{% block constantcontent %}
    <style>
        html, body {
            max-width: 100%;
        }
        .outer {
            margin:auto;
            width: 50%;
            display: flex;
            border: thin solid #3a3f44;
        }
        @media all and (max-width: 499px) {
            .outer {
                margin:auto;
                width: 90%;
                display: flex;
                border: thin solid #3a3f44;
            }
        }
        .projectform{
            margin: 20px;
            width: 100%;
        }  
    </style>
    <h1 style="text-align: center;">Create Project</h1>
    <div class = "outer">
        <div class='projectform'>
            <form id="projectform" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    {{form | crispy}}
                </fieldset>
                <fieldset>
                <button name="submit" type="submit" id='formsubmit' class="btn btn-success">Create Project</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}