{% extends "main/base.html" %}
{% load static %}
{% block content %}
<style>
    #homepage-jumbo {
        width: 50%;
        margin: auto;
        text-align: center;
    }
    @media all and (max-width: 499px) {
        #homepage-jumbo {
            width: 100%;
            margin: auto;
            text-align: center;
        }
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src = "{% static 'main/images/cshslogo.png' %}" width="40" height="40">
    <a class="navbar-brand">CSHS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/schools">Schools</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/view">Members</a>
        </li>
        {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        {% endif %} 
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/projects/">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile/projects/">Your Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile/">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout/">Logout</a>
            </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a>{{user.username}}</a>
      </form>
    </div>
  </nav>
  {% block constantcontent %}
    <div class="jumbotron" id="homepage-jumbo">
        <div style="margin: auto; width: 20%; height: 20%; margin-top: -5%;">
            <img src = "{% static 'main/images/cshslogo.png' %}" width="100%" height="100%">
        </div>
        <br>
        <p>Welcome to the CSHS connectivity website!</p>
        <p>A place to foster collaboration and excitement for all things computer science.</p>
        <p>If you're new here, <a href="/register/">register here.</a> If you already have an account, go ahead and <a href="/login/">login here.</a></p>
        <br>
        <p>Go get started working on some <a href="/projects/">projects</a>, or keep scrolling down to browse member submitted code, club annoucements, and more.</p>
        <p class="lead">Member Code Highlights</p>
        <canvas class="myCanvas" style="width: 100%; border-radius: 2%;">
            <p>We're sorry, your browser doesn't seem to support this code sample.</p>
        </canvas>
        <script src="{% static 'main/scripts/ants.js' %}"></script>
        <span>
            <p style="float: left;">"Ants" by <a href="/profile/1">Charlie Ray</a></p>
            <p style="float: right;"><a href="https://github.com/CharlieRay668/ants">See how it works</a></p>
        </span>
        
    </div>
  {% endblock %}
  {% if user.is_authenticated %}
  
  <div id="authenticated", name="authenticated", class = 'main'>
      {% block authenticated %}
      {% endblock %}
  </div>
  <div id = 'authform', name = 'authform', class = 'form'>
      {% block authform %}
      {% endblock %}
  </div>
    {% if user.username == 'unkown' %}
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">You don't seem to have a username yet!<a href="/profile" class="alert-link"> Click here to set one</a>.</p>
    </div>
    {% endif %}
  {% endif %}
  {% if not user.is_authenticated %}
      <div id = 'unauthenticated', name = 'unauthenticated', class = 'main'>
          {% block unauthenticated %}
          {% endblock %}
      </div>
      <div id = 'unauthform', name = 'unauthform', class = 'form'>
          {% block unauthform %}
          {% endblock %}
      </div>
  {% endif %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}